# ====================================================================
# LatamPay - Configuración de Variables de Entorno (EJEMPLO)
# ====================================================================

# Puerto en el que correrá el servidor localmente (ej: 3000)
PORT=3000

# Entorno de ejecución: 'development' o 'production'
NODE_ENV=development

# URL de conexión a tu base de datos PostgreSQL
DATABASE_URL=postgresql://usuario:tu_password@localhost:5432/nombre_db

# Llave secreta para firmar los Tokens JWT (mínimo 32 caracteres)
JWT_SECRET=cambia_esto_por_uno_de_minimo_32_caracteres_random

# URL de tu aplicación Frontend (CORS)
FRONTEND_URL=http://localhost:5173

# CONFIGURACIÓN DE SWAGGER (DOCUMENTACIÓN)
SERVER_URL=http://localhost:3000

# SERVICIOS EXTERNOS Y CONFIGURACIONES
# API Key de https://www.exchangerate-api.com/
EXCHANGE_RATE_API_KEY=tu_api_key_aqui

# API Key de Google Gemini AI
GEMINI_API_KEY=tu_gemini_api_key_aqui

# Configuración del Bot de pruebas ('true' o 'false')
MOCK_BOT=true

# AWS SES CONFIGURATION
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu_access_key_id
AWS_SECRET_ACCESS_KEY=tu_secret_access_key
AWS_SES_FROM_EMAIL=noreply@tusitio.com

# MOCK EMAIL (Para desarrollo o si usas AWS Sandbox con correos no verificados)
# Si es 'true', los correos se imprimirán en consola en lugar de enviarse.
# Si es 'false', se intentará enviar vía SES.
ENABLE_EMAIL_MOCK=true
