PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:tu_password@localhost:5432/latampay_db
JWT_SECRET=cambia_esto_por_uno_de_minimo_32_caracteres_random
FRONTEND_URL=http://localhost:5173
